<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orourke_walk_in_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,2484},{228,828}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,3},{228,828}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_in_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2490},{442,830}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,1},{442,830}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_in_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,834},{346,834}}</string>
                <key>offset</key>
                <string>{-23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{346,834}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_in_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2500,1654},{458,826}}</string>
                <key>offset</key>
                <string>{-33,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{458,826}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_in_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{532,830}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{532,830}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_in_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2508},{346,836}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,6},{346,836}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_in_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1656},{392,828}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,2},{392,828}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_in_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,2484},{228,828}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,3},{228,828}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_out_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2484},{228,828}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,3},{228,828}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_out_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1660},{442,830}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,1},{442,830}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_out_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{346,834}}</string>
                <key>offset</key>
                <string>{27,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,0},{346,834}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_out_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2168,2482},{458,826}}</string>
                <key>offset</key>
                <string>{36,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,4},{458,826}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_out_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2500},{532,830}}</string>
                <key>offset</key>
                <string>{27,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{532,830}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_out_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1672},{346,836}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,6},{346,836}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_out_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2488},{392,828}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,2},{392,828}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>orourke_walk_out_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2484},{228,828}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,3},{228,828}}</string>
                <key>sourceSize</key>
                <string>{602,850}</string>
            </dict>
            <key>stan_pick_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,0},{228,829}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,3},{228,829}}</string>
                <key>sourceSize</key>
                <string>{680,851}</string>
            </dict>
            <key>stan_pick_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,3330},{234,695}}</string>
                <key>offset</key>
                <string>{4,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,118},{234,695}}</string>
                <key>sourceSize</key>
                <string>{680,851}</string>
            </dict>
            <key>stan_pick_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,3320},{428,425}}</string>
                <key>offset</key>
                <string>{-105,-179}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,392},{428,425}}</string>
                <key>sourceSize</key>
                <string>{680,851}</string>
            </dict>
            <key>stan_pick_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,3344},{234,695}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,116},{234,695}}</string>
                <key>sourceSize</key>
                <string>{680,851}</string>
            </dict>
            <key>stan_pick_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2950,794},{190,793}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,16},{190,793}}</string>
                <key>sourceSize</key>
                <string>{680,851}</string>
            </dict>
            <key>stan_pick_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2670,0},{198,796}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,14},{198,796}}</string>
                <key>sourceSize</key>
                <string>{680,850}</string>
            </dict>
            <key>stan_pick_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3344},{236,696}}</string>
                <key>offset</key>
                <string>{3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,116},{236,696}}</string>
                <key>sourceSize</key>
                <string>{680,850}</string>
            </dict>
            <key>stan_pick_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,3330},{430,426}}</string>
                <key>offset</key>
                <string>{113,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,390},{430,426}}</string>
                <key>sourceSize</key>
                <string>{680,850}</string>
            </dict>
            <key>stan_pick_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3344},{236,696}}</string>
                <key>offset</key>
                <string>{6,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,114},{236,696}}</string>
                <key>sourceSize</key>
                <string>{680,850}</string>
            </dict>
            <key>stan_pick_right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2868,0},{192,794}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,14},{192,794}}</string>
                <key>sourceSize</key>
                <string>{680,850}</string>
            </dict>
            <key>stan_walk_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,0},{228,828}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,0},{228,828}}</string>
                <key>sourceSize</key>
                <string>{686,846}</string>
            </dict>
            <key>stan_walk_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1660},{442,828}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,0},{442,828}}</string>
                <key>sourceSize</key>
                <string>{686,846}</string>
            </dict>
            <key>stan_walk_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,830},{346,830}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,0},{346,830}}</string>
                <key>sourceSize</key>
                <string>{686,846}</string>
            </dict>
            <key>stan_walk_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2212,0},{458,826}}</string>
                <key>offset</key>
                <string>{-29,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,0},{458,826}}</string>
                <key>sourceSize</key>
                <string>{686,846}</string>
            </dict>
            <key>stan_walk_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,1656},{532,826}}</string>
                <key>offset</key>
                <string>{-19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{532,826}}</string>
                <key>sourceSize</key>
                <string>{686,846}</string>
            </dict>
            <key>stan_walk_left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,836},{346,836}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,2},{346,836}}</string>
                <key>sourceSize</key>
                <string>{686,846}</string>
            </dict>
            <key>stan_walk_left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2558,826},{392,826}}</string>
                <key>offset</key>
                <string>{13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,0},{392,826}}</string>
                <key>sourceSize</key>
                <string>{686,846}</string>
            </dict>
            <key>stan_walk_left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1984,0},{228,828}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,0},{228,828}}</string>
                <key>sourceSize</key>
                <string>{686,846}</string>
            </dict>
            <key>stan_walk_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,828},{228,828}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,1},{228,828}}</string>
                <key>sourceSize</key>
                <string>{686,848}</string>
            </dict>
            <key>stan_walk_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,830},{442,830}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{442,830}}</string>
                <key>sourceSize</key>
                <string>{686,848}</string>
            </dict>
            <key>stan_walk_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1668},{346,832}}</string>
                <key>offset</key>
                <string>{31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,0},{346,832}}</string>
                <key>sourceSize</key>
                <string>{686,848}</string>
            </dict>
            <key>stan_walk_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2100,828},{458,826}}</string>
                <key>offset</key>
                <string>{40,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,2},{458,826}}</string>
                <key>sourceSize</key>
                <string>{686,848}</string>
            </dict>
            <key>stan_walk_right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,0},{532,828}}</string>
                <key>offset</key>
                <string>{31,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{532,828}}</string>
                <key>sourceSize</key>
                <string>{686,848}</string>
            </dict>
            <key>stan_walk_right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{346,836}}</string>
                <key>offset</key>
                <string>{29,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,4},{346,836}}</string>
                <key>sourceSize</key>
                <string>{686,848}</string>
            </dict>
            <key>stan_walk_right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,828},{392,828}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,0},{392,828}}</string>
                <key>sourceSize</key>
                <string>{686,848}</string>
            </dict>
            <key>stan_walk_right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,828},{228,828}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,1},{228,828}}</string>
                <key>sourceSize</key>
                <string>{686,848}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:765770672697709673e33635fcf0b07f$</string>
            <key>textureFileName</key>
            <string>characters-ipadhd.png</string>
        </dict>
    </dict>
</plist>
