<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orourke_walk_in_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,966},{119,322}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,11},{119,322}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_in_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1672},{229,324}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,9},{229,324}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_in_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,332},{181,326}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,8},{181,326}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_in_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1648},{237,322}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{237,322}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_in_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1002},{275,324}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{275,324}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_in_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,676},{181,326}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,11},{181,326}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_in_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,322},{203,322}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,10},{203,322}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_in_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,966},{119,322}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,11},{119,322}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_out_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,644},{119,322}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,11},{119,322}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_out_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,658},{229,324}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,9},{229,324}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_out_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1022},{181,326}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,8},{181,326}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_out_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1326},{237,322}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,10},{237,322}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_out_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1348},{275,324}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,8},{275,324}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_out_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,0},{179,326}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,11},{179,326}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_out_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,0},{203,322}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,10},{203,322}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>orourke_walk_out_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,644},{119,322}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,11},{119,322}}</string>
                <key>sourceSize</key>
                <string>{323,346}</string>
            </dict>
            <key>stan_pick_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,690},{111,332}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,17},{111,332}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_pick_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1734},{131,290}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,60},{131,290}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_pick_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1288},{239,178}}</string>
                <key>offset</key>
                <string>{-61,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,174},{239,178}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_pick_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1734},{131,290}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,59},{131,290}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_pick_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,0},{107,332}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,17},{107,332}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_pick_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,690},{111,332}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,17},{111,332}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_pick_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1738},{133,290}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,60},{133,290}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_pick_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1734},{239,178}}</string>
                <key>offset</key>
                <string>{60,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,174},{239,178}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_pick_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1738},{131,290}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,59},{131,290}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_pick_right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,344},{107,332}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,17},{107,332}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,346},{127,346}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,12},{127,346}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1388},{245,346}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,12},{245,346}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1044},{193,348}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,10},{193,348}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,696},{255,346}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,12},{255,346}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{297,348}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{297,348}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{193,344}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,14},{193,344}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1042},{219,346}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,12},{219,346}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,346},{127,346}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,12},{127,346}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,0},{129,346}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,12},{129,346}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1042},{247,346}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,12},{247,346}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{193,348}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,10},{193,348}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1392},{255,346}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,12},{255,346}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{297,348}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,10},{297,348}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_right_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,346},{193,344}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,14},{193,344}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_right_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1388},{217,346}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,12},{217,346}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
            <key>stan_walk_right_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,0},{129,346}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,12},{129,346}}</string>
                <key>sourceSize</key>
                <string>{373,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters-widehd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b23fd418b7c87205f345780377b8ce00$</string>
            <key>textureFileName</key>
            <string>characters-widehd.png</string>
        </dict>
    </dict>
</plist>
