<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cutscene_image_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,2572},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,2058},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2786,1544},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1858,1544},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,1544},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2786,1030},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{1858,1030},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,1030},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,3086},{918,512}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{918,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,3086},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2572},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2058},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1544},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1030},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{2786,516},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1858,516},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,516},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,516},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2786,2},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1858,2},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,2},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
		<key>cutscene_image_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{926,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{926,512}}</string>
			<key>sourceSize</key>
			<string>{926,512}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cut_scene-widehd.png</string>
		<key>size</key>
		<string>{4096,4096}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:85467c87da76ab30f8023bc24a3d670b$</string>
		<key>textureFileName</key>
		<string>cut_scene-widehd.png</string>
	</dict>
</dict>
</plist>
